@import "./main.scss";

.flat-moving {
    position: relative;
    padding: 100px 53px 125px;
    .flat-moving__content {
        max-width: 600px;
    }
    .flat-moving__title {
        font-size: 55px;
        font-weight: 900;
    }
    .flat-moving__subtitle {
        font-size: 30px;
        font-weight: 400;
        margin-top: 10px;
    }
    .flat-moving__text {
        line-height: 24px;
        font-weight: 600;
        font-size: 16px;
        margin-top: 40px;
        max-width: 510px;
    }
    .flat-moving__pluses {
        display: flex;
        align-items: center;
        margin-top: 40px;
        .flat-moving__pluses-item {
            display: flex;
            align-items: center;
            font-size: 16px;
            font-weight: 600;
            &:first-child {
                margin-right: 50px;
            }
            .flat-moving__icon {
                margin-right: 10px;
                filter: invert(84%) sepia(33%) saturate(7202%) hue-rotate(359deg) brightness(101%) contrast(106%);
            }
        }
    }
    .flat-moving__order-btn {
        margin-top: 40px;
        padding: 17px 42px;
        margin-top: 25px;
    }
    .flat-moving__img {
        position: absolute;
        right: 0;
        top: 54px;
    }
    .flat-moving__boxes-img {
        display: none;
    }
}

.count {
    padding: 79px 0 71px;
    background: url('../img/bg-cube-3.png') left -100px bottom 30px no-repeat,
                url('../img/bg-cube-2.png') right 60px top 50px no-repeat,  #f6f8f7 ;
    .count__items {
        display: flex;
        justify-content: space-between;
        margin-top: 47px;
        .count__item {
            width: 387px;
            box-shadow: 3px 5px 27px rgba(0, 1, 5, 0.08);
            border-radius: 10px;
            background-color: #ffffff;
            padding: 0 32px 38px;
            box-sizing: border-box;
            .count__select {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .count__row {
                display: flex;
                justify-content: space-between;
                align-items: center;
                &:first-child {
                    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
                    height: 86px;
                }
                &:nth-child(2) {
                    padding-top: 20px;
                }
                .count__icon {
                    margin-right: 23px;
                }
                .count__adress-street, .count__adress-house {
                    font-size: 14px;
                    padding: 10px;
                }
                .count__adress-house {
                    max-width: 94px;
                }
                .devider {
                    @include sizes(1px, 30px);
                    background: black;
                    opacity: 0.08;
                }
                .count__caption {
                    font-size: 14px;
                    font-weight: bold;
                    margin-right: 24px;
                }
                .count__car-img {
                    margin-right: 17px;
                }
                .count__car {
                    font-size: 14px;
                    font-weight: 900;
                    color: $button-color;
                    margin-right: 33px;
                }
                .count__select-button {
                    padding: 8px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: transparent;
                }
                .count__button {
                    @include sizes(23px, 23px);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid $button-color;
                    background-color: #ffffff;
                    font-size: 14px;
                    font-weight: bold;
                    border-radius: 50%;
                }
                .count__result {
                    margin: 0 22px;
                    font-size: 14px;
                    font-weight: bold;
                }
                .count__date-input::-webkit-calendar-picker-indicator {
                    display: none;
                }
                .count__time-input::-webkit-calendar-picker-indicator {
                    background: none;
                }
                .count__time-input::after {
                    content: url('../img/calendar.svg');
                }
                .count__date-input,
                .count__time-input {
                    font-size: 16px;
                    font-weight: bold;
                }
                .count__date-input {
                    max-width: 90px;
                }
                .count__time-input {
                    margin-right: 20px;
                }
            }
            .count__block {
                justify-content: flex-start;
            }
        }
    }
    .count__btn-wrapper {
        text-align: center;
        margin-top: 38px;
    }
}

.flat-article {
    background-image: url('../img/bg-road-4.png');
    background-repeat: no-repeat;
    background-position: top -250px left -50px;
}
.office-article {
    background-image: url('../img/bg-road-5.png');
    background-repeat: no-repeat;
    background-position: top -300px right -50px;
}

.crossing {
    padding-top: 66px;
    .crossing__subtitle {
        font-size: 22px;
        font-weight: 600;
        text-align: center;
        margin-top: 30px;
    }
    .crossing__content {
        margin: 37px 0 23px;
        .crossing__img { 
            float: left;
            margin-right: 36px;
        }
        .crossing__text {
            font-size: 14px;
            line-height: 28px;
            margin-top: 13px;
            font-weight: 500;
        }
    }
}

.routes {
    padding: 78px 0 81px;
    .routes__slider {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 60px 24px 0;
        min-width: 0;
        .routes__slider-arrow {
            @include sizes(36px, 36px);
            border-radius: 50%;
            background: rgba(50,182,73, 0.32);
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover {
                background: rgba(50,182,73, 0.63);
                img {
                    opacity: 0.63;
                }
            }
            &:active {
                background-color: #32b649;
                img {
                    opacity: 1;
                    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(87deg) brightness(103%) contrast(106%);
                }
            }
            img {
                opacity: 0.32;
            }
        }
        .routes__slider-items {
            width: 85%;
            display: flex;
            justify-content: space-between;
            .routes__slider-item {
                display: flex;
                align-items: center;
                width: 24%;
                margin: 20px;
                box-sizing: border-box;
                background-color: #ffffff;
                border-radius: 10px;
                box-shadow: 0 0 24px rgba(0, 0, 0, 0.18);
                padding: 25px 28px;
                .routes__slider-icon {
                    filter: invert(61%) sepia(54%) saturate(410%) hue-rotate(59deg) brightness(93%) contrast(91%);
                    margin-right: 15px;
                }
                .routes__slider-text {
                    font-size: 14px;
                    font-weight: bold;
                }
            }
        }
    }
}
// responsive routes
@media screen and (max-width: 1148px) {
    .routes {
        .routes__slider {
            margin: 34px 0 0;
            .routes__slider-items {
                .routes__slider-item {
                    .routes__slider-text {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 668px) {
    .routes {
        .routes__slider {
            .routes__slider-items {
                justify-content: center;
                .routes__slider-item {
                    margin: 20px;
                }
            }
            .routes__slider-arrow {
                @include sizes(25px, 25px);
                img {
                    width: 50%;
                }
            }
        }
    }
}

// responsive flat-moving page
@media screen and (max-width: 1248px) {
    .count {
        padding: 43px 0 35px;
        .count__items .count__item {
            padding: 0 15px 15px;
            padding-bottom: 15px;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            width: 32%;
            .count__row:first-child {
                height: 109px;
                box-sizing: border-box;
            }
            .count__row {
                .count__car-img {
                    width: 80px;
                    margin-right: 5px;
                }
            }
            .count__car {
                margin-right: 15px;
                font-size: 12px;
            }
            .count__inputs {
                position: relative;
                flex-direction: column;
                padding: 23px 0 0 20px;
                .count__icon {
                    position: absolute;
                    left: 0;
                    top: 30px;
                }
                .count__adress-street, .count__adress-house {
                    min-width: 100%;
                }
                .count__adress-street {
                    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
                }
                .devider {
                    display: none;
                }
            }
            .count__select-wrapper {
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                .count__select {
                    margin-top: 14px;
                }
            }
        }
    }
}
@media screen and (max-width: 1090px) {
    .flat-moving {
        padding: 46px 0 54px;
        .flat-moving__img {
            width: 43%;
            top: 50px;
            right: -15px;
        }
        .flat-moving__content {
            max-width: 380px;
        }
        .flat-moving__title {
            font-size: 36px;
        }
        .flat-moving__text,
        .flat-moving__pluses .flat-moving__pluses-item {
            font-size: 12px;
        }
        .flat-moving__pluses .flat-moving__pluses-item:first-child {
            margin-right: 25px;
        }
    }
    .crossing {
        .crossing__content .crossing__text {
            font-size: 12px;
        }
        .crossing__subtitle {
            font-size: 18px;
        }
    }

}
@media screen and (max-width: 760px) {
    .count {
        padding: 32px 0 50px;
        .count__items {
            flex-direction: column;
            .count__item {
                width: 100%;
                &:not(:last-child) {
                    margin-bottom: 15px;
                }
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .flat-moving {
        
        .flat-moving__boxes-img {
            display: block;
            position: absolute;
            right: -15px;
            bottom: 70px;
        }
        .flat-moving__subtitle {
            font-size: 24px;
        }
        .flat-moving__img {
            display: none;
        }
        .boxes-2 {
            right: -70px;
        }
        .flat-moving__text {
            margin-top: 15px;
        }
        .flat-moving__pluses {
            flex-direction: column;
            align-items: flex-start;
            margin-top: 20px;
            .flat-moving__pluses-item:first-child {
                margin-bottom: 10px;
            }
        }
    }
}
@media screen and (max-width: 568px) {
    .crossing {
        .crossing__content {
            .crossing__text:first-child {
                display: flex;
                flex-direction: column-reverse;
                .crossing__img {
                    @include sizes(100%, 100%);
                    margin-right: 0;
                    margin: 20px 0 0;
                    object-fit: center;
                }
            }
        }
        .crossing__subtitle {
            font-size: 16px;
            margin-top: 20px;
        }
    }
}

