.modal-order form {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.modal-order__item {
	display: flex;
	flex-direction: column;
}

.modal-order__item label {
	margin-bottom: 5px;
	font-weight: bold;
}

.modal .modal__input {
	padding: 10px;
}

.modal-push{
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 800;
	color: white;
	padding: 17px 45px;
	background: #6DB451;
	border-radius: 28px;
	border: 2px solid transparent;
	text-decoration: none;
}

.modal-push:hover{
	background-color: #579a3d;
}
