
.main__heading {
    color: #424242;
    font-family: "Gilroy", sans-serif;
    font-size: 21px;
    font-weight: normal;
    margin-top: 29px;
    margin-bottom: 72px;
}

.main__heading span {
    font-weight: 800;
}
.wrapper > .container {
    margin-top: 180px;
}

.about__header {
    font-family: "Gilroy", sans-serif;
    font-weight: bold;
    font-size: 32px;
    color: #424242;
    margin-bottom: 42px;
}

.about__paragraph {
    font-family: "Gilroy", sans-serif;
    font-size: 24px;
    color: #424242;
    margin-bottom: 42px;
}

.footer {
    margin-top: 100px;
    border-top: none;
    background: none;
}

.footer .footer__nav li a,
.footer__title,
.footer__company .footer__text,
.footer .footer__nav .footer__nav-marker {
    color: #424242;
}

.footer__nav a {
    font-weight: normal;
}

.footer__icons a {
    opacity: .7;
    transition: opacity .3s;
}

.footer__icons a:hover {
    opacity: 1;
}

.footer__contacts .footer__nav li:not(:last-child) a {
    font-weight: normal !important;
}

.footer__icons a:last-child {
    display: inline-block !important;
}

@media (max-width: 1130px) {
    .footer {
        margin-top: 20px;
    }
}
@media (max-width: 500px) {
    .about__header {
        text-align: center;
        margin-bottom: 25px;
    }
    .main__heading {
        margin-bottom: 60px;
    }
}
@media (max-width: 485px) {
    .about__header {
        font-size: 25px;
    }
    .main__heading {
        font-size: 17px;
    }
    .about__paragraph {
        font-size: 16px;
        text-align: center;
    }
}
@media (max-width: 345px) {
    .main__heading {
        text-align: center;
    }
}